/* Base fo rthe pages */
:root {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
main {
    flex: 1;
    padding: 20px;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    margin: 0.5em 0;
}   
button {
    background-color: #333;
    color: blue;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}